:root {
    --custom-bg-gray: #fafafa;
    --custom-link-blue: #0095f6;
    --custom-border-gray: #dbdbdb;
    --custom-accent-text-main: #8e8e8e;
}


.main-section {
    background-color: var(--custom-bg-gray);
    min-height: 100vh;
}

.feed {
    max-width: 935px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.main-feed {
    width: 64%;
}

.side-feed {
    width: 34%;
    padding-top: 1rem;
}
